<div class="btn-group">
    {{view "property_setter" property="sort_by" value=undefined text="% wins"
    class="btn btn-default btn-sm"}}
    {{view "property_setter" property="sort_by" value="picks" text="% picks"
    class="btn btn-default btn-sm"}}
    {{view "property_setter" property="sort_by" value="bans" text="% bans"
    class="btn btn-default btn-sm"}}
    {{view "property_setter" property="sort_by" value="kills-deaths" text="K/D"
    class="btn btn-default btn-sm"}}
</div>
<div class="btn-group">
    {{view "property_setter" property="sort_direction" value=undefined text="descending"
    class="btn btn-default btn-sm"}}
    {{view "property_setter" property="sort_direction" value="ascending"
    class="btn btn-default btn-sm"}}
</div>
