<div class="container-fluid">
    <div class="row">
        <h2 class="page-item">Champions</h2>

        <div class="data-table page-item">
            <div class="data-header">
                <div class="data-cell" style="width: 10%;">Champion</div>
                <div class="data-cell" style="width: 15%;">Win Rate</div>
                <div class="data-cell" style="width: 15%;">Pick Rate</div>
                <div class="data-cell" style="width: 15%;">Ban Rate</div>
                <div class="data-cell" style="width: 25%;">Avg Kills/Death</div>
            </div>
            <div class="data-body">
                {{#each championStat in controller.model}}
                    <div class="data-row">
                        <div class="data-cell" data-label="Champion">
                            {{static-entity-image model=championStat.champion}}
                        </div>
                        <div class="data-cell" data-label="Win Rate">
                            {{championStat.percentWins}}
                        </div>
                        <div class="data-cell" data-label="Pick Rate">
                            {{championStat.percentPicks}}
                        </div>
                        <div class="data-cell" data-label="Ban Rate">
                            {{championStat.percentBans}}
                        </div>
                        <div class="data-cell" data-label="Avg Kills/Death">
                            {{championStat.averageKillsPerDeath}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
