<div class="container-fluid page-full">
    <div class="row champion-background page-full" {{bind-attr style=controller.backgroundStyle}}>
        <div class="col-sm-12">
            <h2 class="translucent label-edge" style="margin-top: 15px;">{{controller.championNameTitle}}</h2>
        </div>

        <div class="col-sm-2">
            <div class="translucent label-edge" style="margin-top: 15px;">
                <b>Region</b>
            </div>
        </div>

        <div class="col-sm-10">
            {{view "region_setter"}}
        </div>

        <div class="col-sm-2">
            <div class="translucent label-edge" style="margin-top: 15px;">
                <b>Date</b>
            </div>
        </div>

        <div class="col-sm-10">
            {{view "start_time_setter"}}
        </div>

        <div class="col-sm-2">
            <div class="translucent label-edge" style="margin-top: 15px;">
                <b>By Name</b>
            </div>
        </div>

        <div class="col-sm-10">
            {{entity-search placeholder="Orianna" class="translucent"}}
        </div>

        <div class="col-sm-2 visible-xs">
            <div class="translucent label-edge" style="margin-top: 15px;">
                <b>Sort By</b>
            </div>
        </div>

        <div class="col-sm-10 visible-xs">
            {{view "champion_stats_sort_bar"}}
        </div>

        <div class="col-sm-12">
            {{#if controller.model}}
                <div class="data-table translucent" style="margin-top: 15px;">
                    <div class="data-header">
                        <div class="data-cell" style="width: 10%;">Champion</div>
                        <div class="data-cell" style="width: 15%;">
                            {{view "sort_button" sortBy=undefined class="btn btn-default btn-xs translucent"}}
                            Win Rate
                        </div>
                        <div class="data-cell" style="width: 15%;">
                            {{view "sort_button" sortBy="picks" class="btn btn-default btn-xs translucent"}}
                            Pick Rate
                        </div>
                        <div class="data-cell" style="width: 15%;">
                            {{view "sort_button" sortBy="bans" class="btn btn-default btn-xs translucent"}}
                            Ban Rate
                        </div>
                        <div class="data-cell" style="width: 25%;">
                            {{view "sort_button" sortBy="kills-deaths" class="btn btn-default btn-xs translucent"}}
                            Avg Kills/Death
                        </div>
                    </div>
                    <div class="data-body">
                        {{#each championStat in controller.model}}
                            <div class="data-row">
                                <div class="data-cell" data-label="Champion">
                                    {{static-entity-image model=championStat.champion}}
                                </div>
                                <div class="data-cell" data-label="Win Rate">
                                    {{championStat.percentWins}}
                                </div>
                                <div class="data-cell" data-label="Pick Rate">
                                    {{championStat.percentPicks}}
                                </div>
                                <div class="data-cell" data-label="Ban Rate">
                                    {{championStat.percentBans}}
                                </div>
                                <div class="data-cell" data-label="Avg Kills/Death">
                                    {{championStat.averageKillsPerDeath}}
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{else}}
                <p class="text-border" style="margin-top: 30px; text-align: center;">
                    No champions matched the name "{{controller.search}}".
                </p>
            {{/if}}
        </div>
    </div>
</div>
