<div class="container-fluid">
    <div class="row">
        <div class="col-sm-10">
            <h2 style="margin-top: 15px;">URF Stats</h2>

            <h4 style="margin-top: 15px;">An Interactive Guide to League of Legends' Craziest Game Mode</h4>

            <p style="margin-top: 15px;">
                It's sad that <a href="http://leagueoflegends.wikia.com/wiki/Ultra_Rapid_Fire">URF Mode</a> ended;
                however, we've collected a bunch of match stats from the
                <a href="http://na.leagueoflegends.com/en/news/community/contests/riot-games-api-challenge">
                    Riot Games API Challenge
                </a>
                and are sharing it with you! Many of your pressing questions will be answered, questions like:
            <ul>
                <li>Just how popular is {{static-entity-image model=controller.fixtureEzreal}}?</li>
                <li>Do people ban {{static-entity-image model=controller.fixtureShaco}} a lot?</li>
                <li>How often do players rush {{static-entity-image model=controller.fixtureLudensEcho}}?</li>
            </ul>
            We've collected six kinds of stats for exploration. They are organized around:
            <ul>
                <li>{{#link-to "stats"}}<b>Matches</b>{{/link-to}} &mdash; How long do games last? How many dragons were
                    taken? How quickly do people give up first blood?
                </li>
                <li>{{#link-to "champion_stats"}}<b>Champions</b>{{/link-to}} &mdash; What's
                    {{static-entity-image model=controller.fixtureZed}}'s win rate? How popular is
                    {{static-entity-image model=controller.fixtureNidalee}}, despite her having a bad win rate?
                </li>
                <li>{{#link-to "champion_duo_stats"}}<b>Champion Duos</b>{{/link-to}} &mdash; This stat counts the
                    number of times a pair of champions got an assist off of the other's kill. Did
                    <div class="image-holder" style="display: inline-block;">
                        {{static-entity-image model=controller.fixtureAlistar}}
                        {{static-entity-image model=controller.fixtureBlitzcrank}}
                    </div>
                    make the cut?
                </li>
                <li>{{#link-to "champion_lane_stats"}}<b>Lanes</b>{{/link-to}} &mdash; Who jungles in a world where
                    everyone runs Teleport/Flash?
                </li>
                <li>{{#link-to "item_stats"}}<b>Items</b>{{/link-to}} &mdash; Hint: North America and Europe play a lot
                    of AP {{static-entity-image model=controller.fixtureEzreal}}.
                </li>
                <li>{{#link-to "useless_rune_mastery_stats"}}<b>Useless Runes and Masteries</b>{{/link-to}} &mdash; URF
                    mode gives 80% CDR and removes resource costs, and yet players <em>still</em> ran those associated
                    runes and masteries.
                </li>
            </ul>
            Have fun <b>exploring</b>, thanks for visiting, and don't hesitate to interact me in game
            (<a href="http://www.lolking.net/summoner/na/41891545">royliu</a>, NA) or through the project's
            <a href="https://github.com/carsomyr/urf_stats">GitHub page</a>.
            </p>
        </div>
    </div>
</div>
