<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2 style="margin-top: 15px;">Items</h2>
        </div>

        <div class="col-sm-2">
            <div style="margin-top: 15px;">
                <b>Region</b>
            </div>
        </div>

        <div class="col-sm-10">
            {{view "region_setter"}}
        </div>

        <div class="col-sm-2">
            <div style="margin-top: 15px;">
                <b>Date</b>
            </div>
        </div>

        <div class="col-sm-10">
            {{view "start_time_setter"}}
        </div>

        <div class="col-sm-2">
            <div style="margin-top: 15px;">
                <b>By Name</b>
            </div>
        </div>

        <div class="col-sm-10">
            {{entity-search placeholder="Frozen Mallet"}}
        </div>

        <div class="col-sm-12">
            {{#if controller.model}}
                <div class="data-table" style="margin-top: 15px;">
                    <div class="data-header">
                        <div class="data-cell" style="width: 10%;">Item</div>
                        <div class="data-cell" style="width: 25%;">Popularity</div>
                        <div class="data-cell" style="width: 25%;">... as First Item</div>
                        <div class="data-cell" style="width: 40%;">Top Buyers</div>
                    </div>
                    <div class="data-body">
                        {{#each itemStat in controller.model}}
                            <div class="data-row">
                                <div class="data-cell" data-label="Item">
                                    {{static-entity-image model=itemStat.item}}
                                </div>
                                <div class="data-cell" data-label="Popularity">
                                    {{itemStat.percentPurchases}}
                                </div>
                                <div class="data-cell" data-label="... as First Item">
                                    {{itemStat.percentFirstPurchases}}
                                </div>
                                <div class="data-cell" data-label="Top Buyers">
                                    <div class="image-holder">
                                        {{#each champion in itemStat.topPurchasers}}
                                            {{static-entity-image model=champion}}
                                        {{/each}}
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
            {{else}}
                <p class="text-border" style="margin-top: 30px; text-align: center;">
                    No items matched the name "{{controller.search}}".
                </p>
            {{/if}}
        </div>
    </div>
</div>
