<div class="container-fluid">
    <div class="row">
        <h2 class="page-item">Items</h2>

        <div class="data-table page-item">
            <div class="data-header">
                <div class="data-cell" style="width: 20%;">Item</div>
                <div class="data-cell" style="width: 20%;"># Purchases / # All Purchases</div>
                <div class="data-cell" style="width: 20%;"># First Purchases / # All First Purchases</div>
                <div class="data-cell" style="width: 40%;">Top Buyers</div>
            </div>
            <div class="data-body">
                {{#each itemStat in controller.model}}
                    <div class="data-row">
                        <div class="data-cell" data-label="Item">
                            {{itemStat.item.name}}
                        </div>
                        <div class="data-cell" data-label="# Purchases / # All Purchases">
                            {{itemStat.nPurchases}} / {{itemStat.totalPurchases}}
                        </div>
                        <div class="data-cell" data-label="# First Purchases / # All First Purchases">
                            {{itemStat.nFirstPurchases}} / {{itemStat.totalFirstPurchases}}
                        </div>
                        <div class="data-cell" data-label="Top Buyers">
                            {{#each champion in itemStat.topPurchasers}}
                                {{champion.name}}
                            {{/each}}
                        </div>
                    </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>
