<div class="container-fluid">
    <div class="row">
        <h2 class="page-item">Matches</h2>

        <div class="data-table page-item">
            <div class="data-header">
                <div class="data-cell" style="width: 50%;">Stat</div>
                <div class="data-cell" style="width: 50%;">Value</div>
            </div>
            <div class="data-body">
                <div class="data-row">
                    <div class="data-cell" data-label="Stat">
                        # Matches
                    </div>
                    <div class="data-cell" data-label="Value">
                        {{controller.model.nMatches}}
                    </div>
                </div>
                <div class="data-row">
                    <div class="data-cell" data-label="Stat">
                        Avg Length/Match
                    </div>
                    <div class="data-cell" data-label="Value">
                        {{controller.model.averageDuration}}
                    </div>
                </div>
                <div class="data-row">
                    <div class="data-cell" data-label="Stat">
                        Avg Player Kills/Match
                    </div>
                    <div class="data-cell" data-label="Value">
                        {{controller.model.averageKills}}
                    </div>
                </div>
                <div class="data-row">
                    <div class="data-cell" data-label="Stat">
                        Avg Player Assists/Match
                    </div>
                    <div class="data-cell" data-label="Value">
                        {{controller.model.averageAssists}}
                    </div>
                </div>
                <div class="data-row">
                    <div class="data-cell" data-label="Stat">
                        Avg First Blood Time/Match
                    </div>
                    <div class="data-cell" data-label="Value">
                        {{controller.model.averageTimeFirstBlood}}
                    </div>
                </div>
                <div class="data-row">
                    <div class="data-cell" data-label="Stat">
                        Avg Player Gold/Match
                    </div>
                    <div class="data-cell" data-label="Value">
                        {{controller.model.averageGold}}
                    </div>
                </div>
                <div class="data-row">
                    <div class="data-cell" data-label="Stat">
                        Avg Player Minions/Match
                    </div>
                    <div class="data-cell" data-label="Value">
                        {{controller.model.averageMinionsKilled}}
                    </div>
                </div>
                <div class="data-row">
                    <div class="data-cell" data-label="Stat">
                        Avg Champion Level/Match
                    </div>
                    <div class="data-cell" data-label="Value">
                        {{controller.model.averageChampionLevel}}
                    </div>
                </div>
                <div class="data-row">
                    <div class="data-cell" data-label="Stat">
                        Avg Dragons/Match
                    </div>
                    <div class="data-cell" data-label="Value">
                        {{controller.model.averageDragons}}
                    </div>
                </div>
                <div class="data-row">
                    <div class="data-cell" data-label="Stat">
                        Avg First Dragon Time/Match
                    </div>
                    <div class="data-cell" data-label="Value">
                        {{controller.model.averageTimeFirstDragon}}
                    </div>
                </div>
                <div class="data-row">
                    <div class="data-cell" data-label="Stat">
                        Avg Barons/Match
                    </div>
                    <div class="data-cell" data-label="Value">
                        {{controller.model.averageBarons}}
                    </div>
                </div>
                <div class="data-row">
                    <div class="data-cell" data-label="Stat">
                        Avg First Baron Time/Match
                    </div>
                    <div class="data-cell" data-label="Value">
                        {{controller.model.averageTimeFirstBaron}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
